.header{
    width: 80%;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px auto 0 auto;
}

.menu {
    display: flex;
    width: 309px;
    justify-content: flex-end;
    text-align: right;
}

.home, .about {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    color: var(--primary);
    display: block;
    width: 50%;
}

.underline {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .header {
        height: 47px;
        width: 95%;
    }
    .header img {
        height: 47px;
    }
    
}
@media (max-width: 428px) {
    .home, .about {
        font-size: 16px;
    }
}
